.idea
*.config
*.log
__pycache__
filesystem.db
filesystem.db*
fulltext.idx.pkl
resnet50_coco_best_v2.1.0.h5
venv
env
/dist/*.db
/dist/*.log
/dist/*.config
/dist/ahsearch.config
/dist/resnet50_coco_best_v2.1.0.h5
/ttkbootstrap/
/output/
/main.py
/dist/ffmpeg.exe
/dist/ffplay.exe
/dist/ffprobe.exe
