.idea
*.config
*.log
__pycache__
filesystem.db
filesystem.db*
fulltext.idx.pkl
resnet50_coco_best_v2.1.0.h5
venv
env
/output/
/main.py
/ttkbootstrap/*.db
/ttkbootstrap/*.log
/ttkbootstrap/*.config
/ttkbootstrap/resnet50_coco_best_v2.1.0.h5
/ttkbootstrap/ffmpeg.exe
/ttkbootstrap/ffplay.exe
/ttkbootstrap/ffprobe.exe
/ttkbootstrap/ahsearch.config
/app.py
/AHDiskSearch.exe
/ttkbootstrap/resnet50_coco_best_v2.0.1.h5
